/* ---------------------------CSS RESET------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* ---------------------------CONTAINER DIV------------------------------------------- */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------CONTENT DIV------------------------------------------- */

.content {
    width: 100%;
}

/* ---------------------------FORM------------------------------------------- */

form {
    margin-top: 24px;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

.success {
    border: solid 2px #badbcc;
    background-color: #D1E7DD;
    color: #0f5132;
}

.success:focus {
    border: solid 2px #badbcc;
    background-color: #D1E7DD;
    color: #0f5132;
}

.fail {
    border: solid 2px #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.fail:focus {
    border: solid 2px #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.success:-webkit-autofill,
.success:-webkit-autofill:focus {
  -webkit-text-fill-color: #0f5132;
  -webkit-box-shadow: 0 0 0 1000px #D1E7DD inset;
}

.fail:-webkit-autofill,
.fail:-webkit-autofill:focus {
  -webkit-text-fill-color: #842029;
  -webkit-box-shadow: 0 0 0 1000px #f8d7da inset;
}

/* ---------------------------USERNAME VALIDATION CLASSES------------------------------------------- */

#taken {
    margin: 0 0 8px;
    color: #842029;
    display: none;
    position: relative;
    bottom: 16px;
    left: 14px;
}

#available {
    margin: 0 0 8px;
    color: #0f5132;
    display: none;
    position: relative;
    bottom: 16px;
    left: 14px;
}

#submitButton:visited,
#submitButton:active,
#submitButton:focus {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/* ---------------------------FORM SUBMIT SUCCESS ALERT------------------------------------------- */

#successAlert {
    display: none;
    background-color: #D1E7DD;
    border: solid 1px #badbcc;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    position: relative;
    bottom: 12px;
    width: 250px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#successAlert > p {
    margin: 0;
    padding: 0;
    color: #0f5132;
    display: inline-block;
}

#successAlert > i {
    color: #0f5132;
}

/* ---------------------------FORM SUBMIT FAIL ALERT------------------------------------------- */

#failAlert {
    display: none;
    background-color: #f8d7da;
    border: solid 1px #f5c2c7;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    position: relative;
    bottom: 12px;
    width: 250px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#failAlert > p {
    margin: 0;
    padding: 0;
    color: #842029;
    display: inline-block;
}

#failAlert > i {
    color: #842029;
}

.fa-times {

}

.fa-times:hover {
    cursor: pointer;
}

.fa-pencil-square-o:hover {
    cursor: pointer;
}

/* ---------------------------USER LIST------------------------------------------- */

#userList > li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: inline-block;
}

.fa-pencil-square-o {
    color: #0f5132;
}

.fa-times {
    color: #842029;
}

.fail-list {
    color: #842029;
    background-color: #f8d7da;
}

/* ---------------------------EDIT MODAL------------------------------------------- */

.popup-overlay-edit {
    background-color: rgba(126, 126, 126, 0.8);
    position: absolute;
    padding: 2rem;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.popup-content-edit {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
    padding: 1rem 2rem;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 10%;
    visibility: hidden;
}

.popup-overlay-edit.active, .popup-content-edit.active {
    visibility: visible;
}

/* ---------------------------DELETE MODAL------------------------------------------- */

.popup-overlay-delete {
    background-color: rgba(126, 126, 126, 0.8);
    position: absolute;
    padding: 1rem 2rem;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.popup-content-delete {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
    padding: 2rem;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 10%;
    visibility: hidden;
}

.popup-content-delete > .form-buttons {
    margin-top: 16px;
}

.warning-message {
    margin-top: 8px;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px #f5c2c7;
    background-color: #f8d7da;
}

.warning-message > p:nth-child(1) {
    font-size: 24px;
    color: #842029;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.userInfo {

}

.userInfo > p {
    margin: 8px 0 0 0;
    font-size: 24px;
}

/* ---------------------------MODAL BUTTONS------------------------------------------- */

.popup-content-edit .form-buttons > button {
    width: 50%;
}

.popup-content-delete .form-buttons > button {
    width: 50%;
}

/* ---------------------------MODAL VISIBILITY------------------------------------------- */

.popup-overlay-delete.active, .popup-content-delete.active {
    visibility: visible;
}

/* ---------------------------MODAL FORM------------------------------------------- */

.form-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    gap: 8px;
}

.popup-content-edit > p {
    color: #333333;
}

/* ---------------------------MODAL HEADER AND X------------------------------------------- */

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modalHeader > h2, p {
    margin: 0;
    color: #333333;
}

.modalHeader > p {
    display: inline-block;
}

.fa-xmark:hover {
    cursor: pointer;
}

.modal-xmark-edit, .modal-xmark-delete {
    font-size: 24px;
}

/* ---------------------------MODAL FORM USERNAME VALIDATION------------------------------------------- */

#modal-available {
    margin: 0 0 8px;
    color: #0f5132;
    display: none;
    position: absolute;
    bottom: 60px;
    left: 44px;
}

#modal-taken {
    margin: 0 0 8px;
    color: #842029;
    display: none;
    position: absolute;
    bottom: 60px;
    left: 44px;
}


/* ---------------------------SUCCESSFUL USER EDIT------------------------------------------- */

.success-edit {
    display: none;
    background-color: #D1E7DD;
    border: solid 1px #badbcc;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    width: 250px;
}

.success-edit > p {
    color: #0f5132;
}

.success-edit > i {
    color: #0f5132;
}

/* ---------------------------FAIL USER EDIT------------------------------------------- */
.fail-edit {
    display: none;
    background-color: #f8d7da;
    border: solid 1px #f5c2c7;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    width: 250px;
}

.fail-edit > p {
    color: #842029;
}

.fail-edit > i {
    color: #842029;
}

.bi-exclamation-triangle {
    font-size: 24px;
    color: #842029;
}