/* ---------------------------CSS RESET------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* ---------------------------COLOR VARIABLES------------------------------------------- */

:root {
    --success-bg: #D1E7DD;
    --success-border: #badbcc;
    --success-color: #0f5132;
    --fail-bg: #f8d7da;
    --fail-border: #f5c2c7;
    --fail-color: #842029;
}

/* ---------------------------CONTAINER DIV------------------------------------------- */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

/* ---------------------------CONTENT DIV------------------------------------------- */

.content {
    width: 100%;
}

/* ---------------------------FORM------------------------------------------- */

form {
    margin-top: 24px;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

.success {
    border: solid 2px var(--success-border);
    background-color: var(--success-bg);
    color: var(--success-color);
}

.success:focus {
    border: solid 2px var(--success-border);
    background-color: var(--success-bg);
    color: var(--success-color);
}

.fail {
    border: solid 2px var(--fail-border);
    background-color: var(--fail-bg);
    color: var(--fail-color);
}

.fail:focus {
    border: solid 2px var(--fail-border);
    background-color: var(--fail-bg);
    color: var(--fail-color);
}

.success:-webkit-autofill,
.success:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--success-color);
  -webkit-box-shadow: 0 0 0 1000px var(--success-bg) inset;
}

.fail:-webkit-autofill,
.fail:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--fail-color);
  -webkit-box-shadow: 0 0 0 1000px var(--fail-bg) inset;
}

/* ---------------------------USERNAME VALIDATION CLASSES------------------------------------------- */

#taken {
    margin: 0 0 8px;
    color: var(--fail-color);
    display: none;
    position: relative;
    bottom: 16px;
    left: 14px;
}

#available {
    margin: 0 0 8px;
    color: var(--success-color);
    display: none;
    position: relative;
    bottom: 16px;
    left: 14px;
}

#submitButton:visited,
#submitButton:active,
#submitButton:focus {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/* ---------------------------USER LIST------------------------------------------- */
.li-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.li-p-div {
    display: inline-block;
}

.li-buttons {
    display: flex;
    gap: 8px;
}

.file-input {
    margin-top: 8px;
}

/* ---------------------------EDIT MODAL------------------------------------------- */

.popup-overlay-edit {
    background-color: rgba(126, 126, 126, 0.8);
    position: fixed;
    padding: 2rem;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

.popup-content-edit {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
    padding: 1rem 2rem;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 10%;
    visibility: hidden;
}

.popup-overlay-edit.active, .popup-content-edit.active {
    visibility: visible;
}

/* ---------------------------DELETE MODAL------------------------------------------- */

.popup-overlay-delete {
    background-color: rgba(126, 126, 126, 0.8);
    position: fixed;
    padding: 1rem 2rem;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

.popup-content-delete {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
    padding: 2rem;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 10%;
    visibility: hidden;
}

.popup-content-delete > .form-buttons {
    margin-top: 16px;
}

.warning-message {
    margin-top: 8px;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px var(--fail-border);
    background-color: var(--fail-bg);
}

.warning-message > p:nth-child(1) {
    font-size: 24px;
    color: var(--fail-color);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.userInfo {

}

.userInfo > p {
    margin: 8px 0 0 0;
    font-size: 24px;
}

/* ---------------------------MODAL BUTTONS------------------------------------------- */

.popup-content-edit .form-buttons > button {
    width: 50%;
}

.popup-content-delete .form-buttons > button {
    width: 50%;
}

/* ---------------------------MODAL VISIBILITY------------------------------------------- */

.popup-overlay-delete.active, .popup-content-delete.active {
    visibility: visible;
}

/* ---------------------------MODAL FORM------------------------------------------- */

.form-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    gap: 8px;
}

.popup-content-edit > p {
    color: #333333;
}

/* ---------------------------MODAL HEADER AND X------------------------------------------- */

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modalHeader > h2, p {
    margin: 0;
    color: #333333;
}

.modalHeader > p {
    display: inline-block;
}

.fa-xmark:hover {
    cursor: pointer;
}

.modal-xmark-edit, .modal-xmark-delete {
    font-size: 24px;
}

/* ---------------------------MODAL FORM USERNAME VALIDATION------------------------------------------- */

#modal-available {
    margin: 0 0 8px;
    color: var(--success-color);
    display: none;
    position: absolute;
    bottom: 60px;
    left: 44px;
}

#modal-taken {
    margin: 0 0 8px;
    color: var(--fail-color);
    display: none;
    position: absolute;
    bottom: 60px;
    left: 44px;
}


/* ---------------------------SUCCESSFUL USER EDIT------------------------------------------- */

#successAlert {
    display: none;
    background-color: var(--success-bg);
    border: solid 1px var(--success-border);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    width: 250px;
}

#successAlert > p {
    color: var(--success-color);
}

#successAlert > i {
    color: var(--success-color);
    cursor: pointer;
}

/* ---------------------------FAIL USER EDIT------------------------------------------- */
#failAlert {
    display: none;
    background-color: var(--fail-bg);
    border: solid 1px var(--fail-border);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    width: 250px;
}

#failAlert > p {
    color: var(--fail-color);
}

#failAlert > i {
    color: var(--fail-color);
    cursor: pointer;
}

.bi-exclamation-triangle {
    font-size: 24px;
    color: var(--fail-color);
}

.form-label {
    margin-bottom: .25rem!important;
}

/* ---------------------------LANDING PAGE------------------------------------------- */
#landing-body {
    height: 75vh;
}

.landing-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    background-color: #cccccc;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}